<div class="row marketing">
  <div class="col-lg-6" style="border: 2px solid blue" id="left-drive">
    LEFT
  </div>

  <div class="col-lg-6" style="border: 2px solid blue" id="right-drive">
    RIGHT
  </div>
</div>
